<!-- !DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd" -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="/vendors/bootstrap/bootstrap.css" rel="stylesheet">
		<link href="/vendors/font-awesome/font-awesome.min.css" rel="stylesheet">
		<link href="/css/view.css" rel="stylesheet">
		<script  src="/vendors/jquery/3.6.0/jquery.js"></script>
	</head>
	<body>
		<section class="view_wrap">
			<div class="view_contents">
				<h1>회원정보수정</h1>
				<div class="mark_area">
					<span>이름</span>
					<input type="text" id="name" placeholder="이름" th:value="${user.vu_name}">
				</div>
				<div class="mark_area">
					<span>전화번호</span>
					<input type="text" id="phonenum" placeholder="전화번호" th:value="${user.vu_phonenum}">
				</div>
				<div class="mark_area">
					<span>권한</span>
					<select id="level" >
						<option value="M" th:selected="${user.vu_level}=='M'">일반사용자</option>
						<option value="A" th:selected="${user.vu_level}=='A'">관리자</option>
					</select>
				</div>
				<div class="mark_area">
					<button id="edit-btn" type="button">정보변경</button>
				</div>
			</div>
		</section>
	</body>
	<script src="/js/util.js"></script>
	<script src="/js/editView.js"></script>
</html>