<!-- !DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd" -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body>
	<form method="post" name="form" action="/data/user/login">
		<section class="view_wrap clearfix">
			<div class="view_contents">
				<h1>로그인</h1>
				<div>
					<span>아이디</span>
					<input type="text" id="access_id" name="access_id" placeholder="아이디">
				</div>
				<div>
					<span>패스워드</span>
					<input type="text" id="access_pw" name="access_pw" placeholder="패스워드">
				</div>
				<div id="login-btn">
					<button type="button" class="submit">로그인</button>
				</div>
				<div id="join-btn">
					<button type="button" class="submit">회원가입으로 이동</button>
				</div>
			</div>
		</section>
	</form>
	</body>
	<script>
		document.querySelector('#join-btn button').addEventListener('click', () => {
			location.href="/page/join-view";
		});
		document.querySelector('#login-btn button').addEventListener('click', () => {
			loginEvent();
		});
		document.querySelector('form').addEventListener('keydown',(e) => {
			if (e.key === 'Enter' && e.target.tagName.toLowerCase() === 'input'){
				loginEvent();
			}
		});

		function loginEvent () {
			if (document.getElementById('access_id').value.trim() && document.getElementById('access_pw').value.trim()) {
				let form = document.form;
				form.submit();
			}
		}
	</script>
</html>