<!-- !DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd" -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body>
		<section class="view_wrap">
			<div class="view_contents">
				<h1>비디오 업로드페이지</h1>
				<div>
					<span class="mark_name">비디오 업업ㅋ</span>
				</div>
				<div id="logout-btn">
					<button type="button">로그아웃</button>
				</div>
			</div>
		</section>
	</body>
	<script>
		document.querySelector('#logout-btn button').addEventListener('click', () => {
			location.href="/data/logout";
		});
	</script>
</html>