<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body>
		<section class="view_wrap">
			<div class="view_contents">
				<h1>비디오 조회페이지.</h1>
				<div id="dataDiv">
					<table id="dataTable"></table>
				</div>
				<div id="logout-btn">
					<button type="button">로그아웃</button>
				</div>
			</div>
		</section>
	</body>
	<script src="/js/util.js"></script>
	<script src="/js/searchView.js"></script>
</html>